<div class="container">
  <div class="actions">
    <button class="back">
      <img src="{{back}}" alt="">
    </button>
    <button class="cirleIcon cirleIcon-account">
      <img src="{{account}}" alt="">
    </button>
    <button class="cirleIcon cirleIcon-upload">
      <img src="{{upload}}" alt="">
    </button>
  </div>
  <div class="account">
    <h1 class="account--title">Аккаунт</h1>
    <h2 class="account--fullname">Jason Bourne</h2>
    <div class="fields">
      <div class="fieldInfo">
        <p class="fieldInfo--key">Почта</p>
        <p class="fieldInfo--value">JasonBourne@yandex.ru</p>
      </div>
      <div class="fieldInfo">
        <p class="fieldInfo--key">Логин</p>
        <p class="fieldInfo--value">JSBorn</p>
      </div>
      <div class="fieldInfo">
        <p class="fieldInfo--key">Имя</p>
        <p class="fieldInfo--value">Jason</p>
      </div>
      <div class="fieldInfo">
        <p class="fieldInfo--key">Фамилия</p>
        <p class="fieldInfo--value">Bourne</p>
      </div>
      <div class="fieldInfo">
        <p class="fieldInfo--key">Имя в чате</p>
        <p class="fieldInfo--value">I’m not work at CIA</p>
      </div>
      <div class="fieldInfo">
        <p class="fieldInfo--key">Телефон</p>
        <p class="fieldInfo--value">+ 1 (546) 265 21 13</p>
      </div>
    </div>
    <div class="edits">
      <button class="button button-primary button-full">
        <img src="{{edit}}" alt="">
        <span class="button--text">Реадктировать</span>
      </button>
      <button class="button button-primary button-full">
        <img src="{{password}}" alt="">
        <span class="button--text">Сменить пароль</span>
      </button>
    </div>
  </div>
</div>
